<%- include('./partials/adminhead') %>

    <button class="addroom-btn" id="roombtn" onclick="toogleAddRoom()">Add Rooms</button>

    <% if (sucess.length > 0) { %>
        <div class="message"><%=sucess%></div>
    <% } %>
    <% if(error.length > 0) { %>
        <div class="error"><%=error%></div>
    <%} %>

<div class="container" id="addroom">
    <main>
        <span class="material-icons-outlined close" id="close" onclick="closeForm()">
            cancel
            </span>
      <form id="survey-form" action="/admin/rooms" method="post" enctype="multipart/form-data">
        <label id="name-label" for="name"
          >Room Name<input
            id="name"
            name="roomName"
            type="text"
            placeholder="Enter Room Name"
        /></label>
        <label id="email-label" for="Discription"
          >Discription<input
            id="discp"
            type="text"
            name="roomDesc"
            placeholder="Add Room Description"
            required
        /></label>
        <!-- <label id="services-label" for="Discription"
          >Services<input
            id="discp"
            type="text"
            name="service"
            placeholder="Add Room service"
            required
        /></label> -->
        <label id="Price-label" for="price"
          >Price<input
            id="price"
            type="number"
            name="price"
            placeholder="Add Room Price/night"
            required
        /></label>
        <label id="Totalrooms-label" for="price"
        >Total Rooms<input
          id="totallrooms"
          type="number"
          name="totallRooms"
          placeholder="Available Rooms"
          required
      /></label>
        <label id="image-label" for="roomimage"><input type="file" id="file" name="roomImg"></label>
        <button id="submit">Add Room</button>
      </form>
    </main>
  </div>



  <div class="roomtable">
    <table>
        <caption>Added Rooms</caption>
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Room Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Totall Rooms</th>
            <th scope="col">Available Rooms</th>
            <th scope="col">Occuied Rooms</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (locals.allrooms) { %>
            <% allrooms.forEach((rooms, index) => { %>
              <tr>
                <td data-label="Room Name"><%=index + 1%></td>
                  <td data-label="Room Name"><%=rooms.roomName%></td>
                  <td data-label="Description"><%=rooms.roomDesc%></td>
                  <td data-label="Image"><img src="/uploads/<%=rooms.roomImg%>" alt="img" class="image"></td>
                  <td data-label="Totall Rooms"><%=rooms.totallRooms%></td>
                  <td data-label="Available Rooms"><%=rooms.availableRooms%></td>
                  <td data-label="Occupied Rooms"><%=rooms.occupiedRoom%></td>
                  <td data-label="Pricing">RS. <%=rooms.price%></td>
                  <td data-label="Action"><a href="/admin/updaterooms/<%=rooms._id%>"><span class="material-icons-outlined text-green">edit_note</span></a>
                      <a href="/admin/deleteroom/<%=rooms._id%>"><span class="material-icons-outlined text-red">delete</span></a></td>
                </tr>
          <% }) %>
          <% } %>
        </tbody>
      </table>
  </div>



<%-include('./partials/adminfoot')%>