<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
<%- include('./partials/commoncss.ejs') %>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
  <%- include('./partials/common.ejs') %>
    <%- include('./partials/nav.ejs') %>
        
        <div class="page2">
            <div class="about-text">
                <h1>Greta Palace</h1>
                <p>A Palladian manor, in the heart of Ireland, Greta Palace is a luxury hideaway, meticulously restored and exquisitely reimagined. Spectacularly located by the Rock of Greta in picturesque Co. Tipperary, the hotel is enveloped in nature and overlooked by ancient history.</p>
                <a href="/about">ABOUT THE HOTEL</a>
                </div>
                <div class="about-image">
                    <div class="image" id="img1"   style="background-image: url(images/about-1.jpg);"></div>
                    <div class="image" id="img2"   style="background-image: url(images/about-2.jpg);"></div>
                    <div class="image" id="img3"   style="background-image: url(images/about-3.jpg);"></div>
                    <div class="image" id="img4"   style="background-image: url(images/about-4.jpg);"></div>
                </div>
        </div>
        <div class="page3">
            <div class="room-text">
                <h1>STAY WITH US</h1>
                <p>Blissfully decadent and supremely stylish, Greta Palace offers a total of 42 bedrooms and suites each of which has been individually and luxuriously designed for rest and relaxation.</p>
                <a href="/room">VIEW ROOMS</a>
            </div>
            <div class="room-image">
                <div class="image" id="room1"   style="background-image: url(images/room-1.jpg);"></div>
                <div class="image" id="room2"   style="background-image: url(images/room-2.jpg);"></div>
                <div class="image" id="room3"   style="background-image: url(images/room-3.jpg);"></div>
                <div class="image" id="room4"   style="background-image: url(images/room-4.jpg);"></div>
            </div>
        </div>

        <div class="page5">
            <h1>Our Services</h1>
            <div class="row">
              <div class="service">
                <i class="fa-solid fa-spa"></i>
                <h2>Spa</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                  quae?
                </p>
              </div>
              <div class="service">
                <i class="fa-solid fa-champagne-glasses"></i>
                <h2>Greeta Bar</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                  quae?
                </p>
              </div>
              <div class="service">
                <i class="fa-solid fa-utensils"></i>
                <h2>Dining</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                  quae?
                </p>
              </div>
              <div class="service">
                <i class="fa-solid fa-dumbbell"></i>
                <h2>Fitness Center</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                  quae?
                </p>
              </div>
            </div>
            </div>
        </div>
        <%- include('./partials/commonscript.ejs') %>
        <%- include('./partials/footer.ejs') %>